<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<aside th:fragment="sidebar(activo)" class="barra-lateral">
    <div class="logo-lateral">
        <span class="insignia-utp">UTP</span>
        <span class="texto-lab">+Lab</span>
    </div>

    <nav class="navegacion-menu">
        <a th:href="@{/admin/dashboard}" 
           th:classappend="${activo == 'dashboard' ? 'activo' : ''}" 
           class="item-menu">
            <i data-lucide="layout-dashboard"></i>
            <span>Dashboard</span>
        </a>
        <a th:href="@{/admin/checkin}" 
           th:classappend="${activo == 'checkin' ? 'activo' : ''}" 
           class="item-menu">
            <i data-lucide="check-square"></i>
            <span>Check-in</span>
        </a>
        <a th:href="@{/admin/inventario}" 
           th:classappend="${activo == 'inventario' ? 'activo' : ''}" 
           class="item-menu">
            <i data-lucide="package"></i>
            <span>Inventario</span>
        </a>
        <a th:href="@{/admin/checkout}" 
           th:classappend="${activo == 'checkout' ? 'activo' : ''}" 
           class="item-menu">
            <i data-lucide="corner-down-left"></i>
            <span>Check-out</span>
        </a>
        <a th:href="@{/admin/inspeccion}" 
           th:classappend="${activo == 'inspeccion' ? 'activo' : ''}" 
           class="item-menu">
            <i data-lucide="search"></i>
            <span>Inspección</span>
        </a>
        <a th:href="@{/admin/incidencias}" 
   th:classappend="${activo == 'incidencias' ? 'activo' : ''}" 
   class="item-menu item-incidencias">
    <i data-lucide="alert-triangle"></i>
    <span>Incidencias</span>
    <span class="badge-alerta-roja" 
          th:if="${totalIncidencias != null and totalIncidencias > 0}" 
          th:text="${totalIncidencias}">1</span>
    <span class="punto-rojo-sin-numero" 
          th:if="${totalIncidencias == null or totalIncidencias == 0}"
          title="Sin incidencias"></span>
</a>
    </nav>
</aside>

</body>
</html>